body {
    margin: 0;
}
#header {
    background-image: url("asset/brick-wall-texture.jpg");
    height: 75vh;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.8em;
    padding: 10px;
    background-attachment: fixed;
}
.welcometext {
    position: relative;
    top: 25%;
    text-align: center;
}
#navigasi {
    background-color: black;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    position: sticky;
    top: 0;
}
#navigasi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navigasi li {
    display: inline-block;

}
#navigasi a {
    padding: 20px;
    display: block;
    color: white;
    text-decoration: none;
}
#navigasi a:hover {
    background-color: lightgrey;
}
.content {
    background-color: lightgrey;
    height: 1000vh;
    margin: 0;
}
.active {
    background-color: lightgrey;
}
#content {
    background-color: lightgrey;
    text-align: center;
}
.welcomecontent {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    padding: 35px;   
    font-size: 1em;
    
}

@media screen and (max-width: 300px) {
    #header {
        height: 100px;
        font-size: 10px;
    }
    #navigasi a {
        padding: 5px;
        font-size: 5px;
    }
}